<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <span class="title pad-left-right">Contacts</span>
        </div>
        <div class="row">
            <div class="input-group pull-left pad-left-right col-xs-7">
            <input type="text" class="form-control" #searchBox (keyup)="search(searchBox.value)" placeholder="Enter a Search Value">
            <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
            </div>
            <div class="pull-right pad-left-right">
            <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
            </div>
        </div>
    </div>
    <div class="panel-body" cdkDropList #contactList="cdkDropList" 
    [cdkDropListData]="contacts"
    class="example-List"
    cdkDropListConnectedTo="groupList">

                <div *ngFor="let contact of (this.contacts | contactsFilter:term)"
                cdkDrag [cdkDragData]="contact">
                    <cms-contact-item 
                    [contact]="contact"
                    (selectedContactEvent)="onSelected($event)"
                    ></cms-contact-item>
                </div>

    </div>
</div>
