<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h2>Contacts</h2>
    
        <button type="button" class="btn btn-success pull-right" routerLink="./new">New Contact</button>
    </div>
    <div class="panel-body">
                <div *ngFor="let contact of this.contacts">
                    <cms-contact-item 
                    [contact]="contact"
                    (selectedContactEvent)="onSelected($event)"
                    ></cms-contact-item>
                </div>

    </div>
</div>
